.about {
  background-color: $color-alabaster;
}

.about__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 118px;
  padding-bottom: 62px;
  column-gap: 12.8%;

  @include vp-1199 {
    display: block;
    padding-top: 94px;
    padding-bottom: 50px;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-bottom: 35px;
  }
}

.about__header {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: $color-cerulean-blue;

  @include vp-1199 {
    font-size: 34px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
  }
}

.about__header-wrapper {
  display: flex;
  flex-direction: column;
  width: 480px;
  padding: 5px 0 0;
  gap: 29px 0;

  @include vp-1199 {
    margin: 0 0 29px;
    gap: 25px 0;
    width: 77%;
  }

  @include vp-767 {
    margin: 0 0 30px;
    gap: 13px 0;
    width: 90%;
  }
}

.about__text {
  margin: 0;
  font-size: 22px;
  line-height: 32px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 26px;
  }

  @include vp-767 {
    max-width: 100%;
    font-size: 16px;
    line-height: 22px;
  }
}

.about__goal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 40%;
  gap: 33px 0;
  padding-bottom: 60px;

  @include vp-1199 {
    margin: 0;
    gap: 23px 0;
    max-width: 77%;
  }

  @include vp-767 {
    max-width: 100%;
    gap: 11px 0;
    margin: 0 0 -20px;
  }
}

.about__goal-text {
  margin: 0;

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    max-width: 100%;
    font-size: 14px;
  }
}

.about__goal-subheader {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: $color-cerulean-blue;

  @include vp-1199 {
    font-size: 28px;
    line-height: 28px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
  }
}

.about__button {
  padding-right: 80px;

  @include vp-1199 {
    margin: 13px 0 0;
  }

  @include vp-767 {
    margin: 14px 0 0;
    padding-right: 57px;
  }
}
